* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ice-cold: #a0d2eb;
  --freeze-purple: #e5eaf5;
  --medium-purple: #d0bdf4;
  --purple-pain: #8458b3;
  --heavy-purple: #a28089;
}
body {
  background: var(--heavy-purple);
}
